button.GENTICS_button_black {
	background: black !important;
}

button.GENTICS_button_red {
	background: red !important;
}

button.GENTICS_button_green {
	background: green !important;
}

button.GENTICS_button_blue {
	background: blue !important;
}
